---
import type { ClassOffering } from "@/data/classOfferings";

interface Props {
  classesData: ClassOffering[];
}

// const { classesData } = Astro.props;
---

<section>online debating classes</section>
