---
import type { ClassOffering } from "@/data/classOfferings";

interface Props {
  classesData: ClassOffering[];
}

// const { classesData } = Astro.props;
---

<section class="p-24 text-center">
  <div class="mx-auto flex max-w-180 flex-col gap-3">
    <p class="text-sm text-neutral-500 uppercase">Class offerings</p>
    <h2 class="mb-2 text-5xl font-bold tracking-tight">
      Online Debating Coaching Classes
    </h2>
    <p>
      Affordable, flexible online classes to help you build confidence - whether
      that's knowing how to strucutre arguments, how to rebut others' arguments
      or just impromptu speaking.
    </p>
  </div>
</section>
