---
import { Image } from "astro:assets";
import logoImg from "@images/quote-logo-circle.webp";
---

<footer class="footer bg-neutral text-neutral-content p-10">
  <aside class="gap-4">
    <a href="/" aria-label="Return to Aspire Academy debating's home page"
      ><Image
        src={logoImg}
        alt="Logo for Aspire Academy debating"
        class="w-12"
      /></a
    >
    <div>
      <h2 class="text-lg font-semibold tracking-wide">Aspire Academy</h2>
      <p class="opacity-90">
        Sydney-based online debating and public speaking classes
      </p>
    </div>
  </aside>
</footer>
