---
import logoImg from "@images/aspire-academy-logo.webp";
import { Image } from "astro:assets";
---

<header class="navbar bg-base-100 text-primary shadow-sm">
  <div class="navbar-start">
    <a
      href="/"
      class="btn btn-ghost flex items-center gap-2"
      aria-label="return to home page"
      ><Image
        src={logoImg}
        loading="eager"
        alt="Logo for Aspire Academy"
        class="w-12 opacity-90"
      /><h1 class="text-2xl font-semibold">Aspire Academy</h1></a
    >
  </div>
  <div class="navbar-end">
    <button class="btn btn-primary">
      <span>Enrol now</span>
    </button>
  </div>
</header>
