---

---

<header class="navbar bg-base-100 bg-amber-50 p-4">
  <a href="/" class="btn btn-ghost flex items-center gap-4">
    <img
      src="/logo.png"
      alt="华夏演讲辩论学院标志"
      loading="eager"
      height="24"
      width="24"
    />
    <h1 class="font-chinese-cursive text-3xl tracking-tight">
      华夏演讲辩论学院
    </h1></a
  >
</header>
