---
---
<header class="navbar bg-base-100 p-4 bg-amber-50">
    <a href="/" class="btn btn-ghost flex items-center gap-4">
        <img src="/logo.png" alt="华夏演讲辩论学院标志" loading="eager" height="24" width="24"/>
        <h1 class="text-3xl font-chinese-cursive tracking-tight">华夏演讲辩论学院</h1></a>
</header>